<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Survey Page</title>
     <link rel="stylesheet" href="~/css/style.css">
  </head>
  <body>
      <h3>Submitted information</h3><br>
      <p>Name: @ViewBag.name</p><br>
      <p>Location: @ViewBag.location</p><br>
      <p>Language: @ViewBag.language</p><br>
      <p>Comments: @ViewBag.comments</p><br>

      <button><a href='/index'>GoBack!</a></button>
  </body>
</html>

	